*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.roll-dice{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;  
}
button{
  padding: 10px 20px;
  cursor: pointer;
  letter-spacing: 1px;
  margin-bottom: 20px;
  transition: .3s;
  border-radius: 1em;
  font-weight: bold;
  
}
button:hover{
  background-color: #0054b5;
  color: aliceblue;
}